/* body {
    background-image: url("bg-ice.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
} */

body,
html {
    height: 100vh;
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("bg-ice.jpg");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}